.root {
    -fx-base: rgba(60, 63, 65, 255); // dark
	-fx-accent: #adff2f;
	-fx-focus-color: derive(-fx-accent, 50%);
}


.default-color0.chart-series-area-line { -fx-stroke: -fx-accent }
.default-color0.chart-series-area-fill { -fx-fill: linear-gradient(
        to bottom,
        -fx-accent,
        derive(-fx-accent, -50%)
    ); }
	
	
.default-color0.chart-series-line { -fx-stroke: -fx-accent }

.default-color0.chart-pie { -fx-pie-color: -fx-accent }
.default-color1.chart-pie { -fx-pie-color: derive(-fx-accent, -25%); }
.default-color2.chart-pie { -fx-pie-color: derive(-fx-accent, -50%) }
.default-color3.chart-pie { -fx-pie-color: derive(-fx-accent, -75%) }
.default-color4.chart-pie { -fx-pie-color: derive(-fx-accent, -100%) }
.default-color5.chart-pie { -fx-pie-color: derive(-fx-accent, 25%) }
.default-color6.chart-pie { -fx-pie-color: derive(-fx-accent, 50%) }
.default-color7.chart-pie { -fx-pie-color: derive(-fx-accent, 75%) }
.default-color8.chart-pie { -fx-pie-color: derive(-fx-accent, 100%) }


.chart-pie .data{
    -fx-border-color: -fx-background;
    -fx-border-width: 5px;
}

