/* .root { */
/*     -fx-base: rgba(30, 33, 35, 255); // dark */
/* 	-fx-accent: #7DFF2F; */
/* 	-fx-focus-color: derive(-fx-accent, 20%); */
	
/* } */

.default-color0.chart-symbol { -fx-background-color: derive(-fx-accent, -50%); }
.default-color1.chart-symbol { -fx-background-color: derive(-fx-accent, -75%) }
.default-color2.chart-symbol { -fx-background-color: derive(-fx-accent, 50%) }
.default-color3.chart-symbol { -fx-background-color: derive(-fx-accent, 75%) }

.default-color0.chart-series-area-line { -fx-stroke: -fx-accent }
.default-color0.chart-series-area-fill { -fx-fill: linear-gradient( to top, -fx-accent, transparent); }
//.default-color0.chart-series-area-fill { -fx-fill: ladder(derive(-fx-accent, 80%) , -fx-accent 90%, transparent 100%); }
	
.default-color1.chart-series-area-line { -fx-stroke: white }
.default-color1.chart-series-area-fill { -fx-fill: transparent }

.default-color0.chart-pie { -fx-pie-color: -fx-accent }
.default-color1.chart-pie { -fx-pie-color: derive(-fx-accent, -25%) }
.default-color2.chart-pie { -fx-pie-color: derive(-fx-accent, -50%) }
.default-color3.chart-pie { -fx-pie-color: derive(-fx-accent, -75%) }
.default-color4.chart-pie { -fx-pie-color: derive(-fx-accent, -100%) }
.default-color5.chart-pie { -fx-pie-color: derive(-fx-accent, 25%) }
.default-color6.chart-pie { -fx-pie-color: derive(-fx-accent, 50%) }
.default-color7.chart-pie { -fx-pie-color: derive(-fx-accent, 75%) }
.default-color8.chart-pie { -fx-pie-color: derive(-fx-accent, 100%) }

.slider .axis .axis-tick-mark{
	-fx-stroke: derive(-fx-accent, -30%);
}

.slider .axis .axis-minor-tick-mark{
	-fx-stroke: derive(-fx-accent, -60%);
}

.chart .chart-title .text {
	-fx-font-size: 20px;
}

.chart-pie .data{
    -fx-border-color: -fx-background;
    -fx-border-width: 5px;
}

.chart-vertical-grid-lines, .chart-horizontal-grid-lines  {
    -fx-stroke: derive(-fx-base, 80%);
}

.transparent, .transparent > * {
	-fx-background-color: transparent;
	-fx-fill: transparent;
}

.transparent  .chart-content .chart-plot-background{
	-fx-background-color: transparent;
}

.progress-indicator .percentage {
	-fx-font-size: 1px;
   -fx-fill:null;
}

.progress-indicator .determinate-indicator .indicator{
	-fx-background-color: transparent;
}

.toggle-button:selected{
	-fx-text-fill: -fx-accent;
}

.toggle-switch:selected .thumb-area{
	-fx-background-color: -fx-accent;
}


.tree-view {
    -fx-padding: 0em;
}

.list-cell .label{
    -fx-padding: 0em;
	-fx-text-fill: white;
}

.split-pane {
    -fx-background-insets: 0;
}

.split-pane .split-pane-divider {
 -fx-background-insets: 0;
}

.vectorscope .chart-symbol {
    -fx-background-radius: 1px ;
    -fx-padding: 2px ;
}

.vuMeter-background {
    -fx-background-color: derive(-fx-base, -10%);
}

.vuMeter-meter-horizontal {
    -fx-background-color: linear-gradient(
    to left,
    -fx-accent,
    derive(-fx-accent, -50%)
    );
}

.vuMeter-meter-vertical {
    -fx-background-color: linear-gradient(
    to bottom,
    -fx-accent,
    derive(-fx-accent, -50%)
    );
}

.tree-cell:filled:selected:focused, .tree-cell:filled:selected {
    -fx-background-color: derive(-fx-base, 50%);
    -fx-text-fill: white;
}

.flat-progress > * {
		-fx-background-radius: 0;
		-fx-background-insets: 0;
}

.flat-progress .bar {
	-fx-background-insets: 2;
}

.button, .toggle-button {
	-fx-background-radius: null;
	-fx-background-insets: 0px 0px 0px 0px, 0px, 1px, 1px;
	}